/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141318;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    overflow: hidden;
}

/* sidebar */
.sidebar{
    height: calc(100vh - 80px);
    min-width: 80px;
    padding-top: 45px;
    overflow-y: auto;
}

.sidebar-server-icons{
    list-style-type:none;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.sidebar-server-icon{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 15px;
}

.server-discord{
    position: relative;
}
.server-discord::before{
    content: '';
    display: block;
    height: 30px;
    border: 3px solid white;
    border-radius: 3px;
    position: absolute;
    top: 8px;
    left: -10px;

}

/* chat section */
.chat-section{
    background-color: #1c1d22;
    margin-top: 10px;
    border-top-left-radius: 30px;
    width: 100%;
    padding: 0 10px;
}

.chat-section-header{
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}

.chat-section-btns{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 15px;
}
.add-friends-btn, .search-btn{
    display: inline-block;
    background-color: #373a43;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    padding: 6px 8px;
}

.add-friends-btn{
    flex-grow: 1;
    border-radius: 25px;
}

.search-btn{
    border-radius: 50%;
}

.chat-list{
    list-style-type:none;
    overflow-y: auto;
    overflow: hidden;
}

.chat-list-item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 10px;
    color: #7f7b88;
    font-weight: 600;
}

.profile-pic{
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.chat-infos{
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    font-size: 1.2rem;
}

.chat-infos span:nth-child(2){
    font-size: .85rem;
}
footer{
    background-color: #2d2d35;
    height: 80px;
}