/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141318;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

/* utils */
.red{
    background-color: #f94349;
}

.yellow{
    background-color: #f4a71b;
}

.green{
    background-color: #39a65d;
}

/* LAYOUT */

.container{
    display: flex;
    overflow: hidden;
}

/* sidebar */
.sidebar{
    height: calc(100vh - 80px);
    min-width: 80px;
    padding-top: 45px;
    overflow-y: auto;
}

.sidebar-server-icons{
    list-style-type:none;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.sidebar-server-icon{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 15px;
}

.server-discord{
    position: relative;
}
.server-discord::before{
    content: '';
    display: block;
    height: 30px;
    border: 3px solid white;
    border-radius: 3px;
    position: absolute;
    top: 8px;
    left: -10px;

}

/* chat section */
.chat-section{
    background-color: #1c1d22;
    margin-top: 10px;
    border-top-left-radius: 30px;
    width: 100%;
    padding: 0 10px;
    height:calc(100vh - 90px);
}

.chat-section-header{
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}

.chat-section-btns{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 15px;
}
.add-friends-btn, .search-btn{
    display: inline-block;
    background-color: #373a43;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    padding: 6px 8px;
}

.add-friends-btn{
    flex-grow: 1;
    border-radius: 25px;
}

.search-btn{
    border-radius: 50%;
}

/* chat list section */
.chat-list{
    height: 100%;
    overflow-y: auto;
}

.chat-list-item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 10px;
    color: #7f7b88;
    font-weight: 600;
}

.profile-pic{
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.chat-infos{
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    font-size: 1.2rem;
}

.chat-infos span:nth-child(2){
    font-size: .85rem;
}

.chat-list-item:nth-child(2), .chat-list-item:hover{
    background-color: #26262e;
    color: white;
    border-radius: 25px;
}

/* footer */
footer{
    background-color: #2d2d35;
    height: 80px;
}

.footer-navbar{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer-navbar-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

a{
    text-decoration: none;
    color:white
}

.footer-navbar-icon{
    font-size: 2rem;
}

.footer-profile-pic{
    width: 36px;
    border-radius: 50%;
}

/* BONUS */
.status{
    content: '';
    display: inline-block;
    border: 3px solid #1c1d22;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0px;
}

.chat-list-item div:first-child{
    position: relative;
}

.chat-list-item:hover .status{
    border-color:#26262e ;
}

/* new chat button */
.new-chat-btn{
    position: fixed;
    color: white;
    font-size: 2rem;
    bottom: 90px;
    right: 20px;
    background-color: #5683e9;
    padding: 10px;
    border-radius: 50%;
}

.new-chat-btn:hover{
    cursor: pointer;
}

.search-btn:hover, .add-friends-btn:hover{
    cursor: pointer;
}