/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141318;
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    overflow: hidden;
}

/* sidebar */
.sidebar{
    height: calc(100vh - 80px);
    min-width: 80px;
    padding-top: 45px;
    overflow-y: auto;
}

.sidebar-server-icons{
    list-style-type:none;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.sidebar-server-icon{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 15px;
}

.server-discord{
    position: relative;
}
.server-discord::before{
    content: '';
    display: block;
    height: 30px;
    border: 3px solid white;
    border-radius: 3px;
    position: absolute;
    top: 8px;
    left: -10px;

}

.chat-section{
    background-color: #1c1d22;
    margin-top: 10px;
    border-top-left-radius: 30px;
    width: 100%;
}

footer{
    background-color: #2d2d35;
    height: 80px;
}